@use "src/styles/palette.module.scss" as *;

.historyRow {
  display: flex;
  width: 100%;
  height: 42px;
  align-items: center;

  div,
  span {
    margin-right: 7px;
  }

  .user {
    font-weight: 600;
    text-decoration: underline;
  }

  .canRedirectOnUser {
    cursor: pointer;
  }

  .stand {
    color: $yellow;
    text-transform: uppercase;
    font-weight: 600;
  }

  .time {
    font-weight: 300;
    opacity: 0.7;
  }
}
