@use "src/styles/global.module.scss" as *;
@use "src/styles/palette.module.scss" as *;

.card {
  border-radius: 4px;
  background-color: $dark;
  box-shadow: 3px 1px 9px -1px rgba(0, 0, 0, 0.05);
  padding: $content-padding;

  &.noPadding {
    padding: 0 0 10px 0;

    > h3 {
      padding: 20px 20px 0 20px;
    }
  }

  &.topMargin {
    margin-top: $block-padding;
  }

  .header {
    color: $tiffany-blue;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
    margin-bottom: 18px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    padding-top: 13px;
    margin-top: 30px;
  }
}
