@use "src/styles/global.module.scss" as *;
@use "src/styles/palette.module.scss" as *;

.sectionWrapper {
  display: flex;
  flex-flow: column;
  flex: auto;
  padding: $content-top-padding $block-padding $block-padding $block-padding;
  color: #fff;
  min-height: 100%;

  .sectionHeader {
    color: $tiffany-blue;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .sectionDescription {
    min-height: 22px;
  }

  .sectionContent {
    flex: 1 1 auto;
    padding-top: 24px;
  }
}
