@use "./src/styles/palette.module.scss" as *;
@use "./src/styles/global.module.scss" as *;

.h1 {
  font-size: 64px;
  color: $tiffany-blue;
  font-weight: 500;
  margin-bottom: $content-top-padding;
}
